<%# <h1>Players#index</h1>
<p>Find me in app/views/players/index.html.erb</p> %>
<h2>All Players</p>
<% if @players.empty? %>
  <p>There are no players in the NBA.</p>
<%else%>
  <ul>
    <% @players.each do |player| %>
      <li>
        <%= link_to player.name, player_path(player) %> of Team
        <%= link_to player.team.name, player.team %>
      </li>
      <% end %>
  </ul>
<% end %>