<%# <h1>Players#show</h1>
<p>Find me in app/views/players/show.html.erb</p> %>
<h2><%= @player.name %></h2>
<p><%= @player.name%> is a member of the <%= link_to @player.team.name, @player.team %></p>
